<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/boldcolor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCareApp"
        tools:targetApi="31">
        <activity
            android:name=".Pharmacist_addMedicine"
            android:exported="false" />
        <activity
            android:name=".Pharmarcist_QRscanner"
            android:exported="false" />
        <activity
            android:name=".PharmacistMenu"
            android:exported="false" />
        <activity
            android:name=".DashboardPharmacist"
            android:exported="false" />
        <activity
            android:name=".Loggin"
            android:exported="false" />
        <activity
            android:name=".Splash2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>